**/node_modules/*

api/atob
api/atob.cmd
api/bunyan
api/bunyan.cmd
api/detect-libc
api/detect-libc.cmd
api/esparse
api/esparse.cmd
api/esvalidate
api/esvalidate.cmd
api/is-ci
api/is-ci.cmd
api/js-yaml
api/js-yaml.cmd
api/mime
api/mime.cmd
api/mkdirp
api/mkdirp.cmd
api/ncp
api/ncp.cmd
api/needle
api/needle.cmd
api/node-pre-gyp
api/node-pre-gyp.cmd
api/nodemon
api/nodemon.cmd
api/nodetouch
api/nodetouch.cmd
api/nopt
api/nopt.cmd
api/rc
api/rc.cmd
api/rimraf
api/rimraf.cmd
api/semver
api/semver.cmd
api/sshpk-conv
api/sshpk-conv.cmd
api/sshpk-sign
api/sshpk-sign.cmd
api/sshpk-verify
api/sshpk-verify.cmd
api/ts-node
api/ts-node.cmd
api/tsc
api/tsc.cmd
api/tslint
api/tslint.cmd
api/tsserver
api/tsserver.cmd
api/uuid
api/uuid.cmd
api/which
api/which.cmd
frontend/acorn
frontend/acorn.cmd
frontend/ansi-html
frontend/ansi-html.cmd
frontend/atob
frontend/atob.cmd
frontend/autoprefixer
frontend/autoprefixer.cmd
frontend/babylon
frontend/babylon.cmd
frontend/browserslist
frontend/browserslist.cmd
frontend/create-react-app
frontend/create-react-app.cmd
frontend/css-blank-pseudo
frontend/css-blank-pseudo.cmd
frontend/css-has-pseudo
frontend/css-has-pseudo.cmd
frontend/css-prefers-color-scheme
frontend/css-prefers-color-scheme.cmd
frontend/cssesc
frontend/cssesc.cmd
frontend/detect
frontend/detect-port
frontend/detect-port.cmd
frontend/detect.cmd
frontend/envinfo
frontend/envinfo.cmd
frontend/errno
frontend/errno.cmd
frontend/escodegen
frontend/escodegen.cmd
frontend/esgenerate
frontend/esgenerate.cmd
frontend/eslint
frontend/eslint.cmd
frontend/esparse
frontend/esparse.cmd
frontend/esvalidate
frontend/esvalidate.cmd
frontend/handlebars
frontend/handlebars.cmd
frontend/he
frontend/he.cmd
frontend/html-minifier
frontend/html-minifier.cmd
frontend/import-local-fixture
frontend/import-local-fixture.cmd
frontend/is-ci
frontend/is-ci.cmd
frontend/jest
frontend/jest-runtime
frontend/jest-runtime.cmd
frontend/jest.cmd
frontend/js-yaml
frontend/js-yaml.cmd
frontend/jsesc
frontend/jsesc.cmd
frontend/json5
frontend/json5.cmd
frontend/loose-envify
frontend/loose-envify.cmd
frontend/miller-rabin
frontend/miller-rabin.cmd
frontend/mime
frontend/mime.cmd
frontend/mkdirp
frontend/mkdirp.cmd
frontend/multicast-dns
frontend/multicast-dns.cmd
frontend/parser
frontend/parser.cmd
frontend/react-scripts
frontend/react-scripts.cmd
frontend/regjsparser
frontend/regjsparser.cmd
frontend/rimraf
frontend/rimraf.cmd
frontend/sane
frontend/sane.cmd
frontend/semver
frontend/semver.cmd
frontend/sha.js
frontend/sha.js.cmd
frontend/sshpk-conv
frontend/sshpk-conv.cmd
frontend/sshpk-sign
frontend/sshpk-sign.cmd
frontend/sshpk-verify
frontend/sshpk-verify.cmd
frontend/svgo
frontend/svgo.cmd
frontend/terser
frontend/terser.cmd
frontend/tsc
frontend/tsc.cmd
frontend/tsserver
frontend/tsserver.cmd
frontend/uglifyjs
frontend/uglifyjs.cmd
frontend/uuid
frontend/uuid.cmd
frontend/watch
frontend/watch.cmd
frontend/webpack
frontend/webpack-dev-server
frontend/webpack-dev-server.cmd
frontend/webpack.cmd
frontend/which
frontend/which.cmd
